* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d3d3d3;
}

.game-container {
  margin: 0 auto;
  max-width: 90%;
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.choices-content {
  height: 30vh;
}

.content {
  background-color: #212121;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: center;
  align-items: center;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
}

#rock,
#paper,
#scissors {
  color: #eee;
  font-size: 100px;
  margin: 35px 10px 0 10px;
  cursor: pointer;
}

.header {
  font-size: 40px;
  text-align: center;
  color: rgb(216, 112, 147);
}

.human-score,
.bot-score {
  font-size: 15px;
}

.message-container {
  height: 175px;
  height: 100px;
}

.bot-message {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  display: none;
  color: rgba(216, 112, 147, 0.75);
}

.bot-message p {
  width: 100%;
  color: rgba(216, 112, 147, 0.75);
  font-weight: bold;
}

.message {
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  color: rgba(216, 112, 147, 0.8);
}

img {
  width: 120px;
  height: 120px;
}

.scores {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.bot-score {
  margin-left: 20px;
}

.human-score,
.bot-score {
  margin-top: 20px;
  color: rgba(216, 112, 147, 0.75);
}

.human-total,
.bot-total {
  display: block;
  text-align: center;
  background-color: #eee;
  height: 100px;
  width: 100px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 90px;
  box-shadow: inset 20px 20px 40px rgba(0, 0, 0, 0.26);
  color: #212121;
}

.message {
  text-align: center;
}

.btn {
  margin-top: 15px;
  background-color: #d87093;
  box-shadow: inset 20px 20px 40px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  padding: 15px 15px;
  border-radius: 10px;
  display: none;
  font-size: 20px;
  color: #eee;
  width: 100%;
}

.btn:hover {
  background: #eee;
  color: #d87093;
}


.choices-off {
  pointer-events: none;
}

@media (min-width: 600px)  {
 .game-container {
  position: relative;
 }

  .choices-content {
    height: 50vh;
  }

  .header {
    font-size: 80px;
  }

  #rock,
  #scissors,
  #paper {
    font-size: 250px;
    margin: 35px 30px 0 30px;
  }

  .content {
    height: 50vh;
    margin: 10px;
  }

  img {
    width: 140px;
    height: 140px;
  }

  .bot-score {
    margin-left: 275px;
  }

  .human-score,
  .bot-score {
    font-size: 30px;
  }
  .human-total,
  .bot-total {
    height: 300px;
    width: 300px;
    font-size: 280px;
  }

  .message-container {
    height: 0;
  }

  .bot-message {
    position: absolute;
    top: 68%;
    width: 100%;
    left: 0;
    margin-top: 0;
    font-size: 35px;
    display: none;
  }

  .bot-message p {
    width: 100%;
  }

  .message {
    position: absolute;
    width: 100%;
    bottom: 20%;
    left: 0%;
    font-size: 25px;
  }

  .btn {
    position: absolute;
    bottom: 10%;
    left: 43%;
    width: 15%;
  }

}
